footer {
    background: $text1;
    color: #fff;
    padding: 58px 0 50px;
    letter-spacing: .5px;
    a {
        color: #fff;
        text-decoration: none;
    }
    
}
.footer {
    &__wrapper {
        display: grid;
        grid-template-columns: 553px 297px 1fr;
    }
}