.price {
    padding: 0 0 30px;
    &__wrap {
        border-radius: 10px;
background: #FFF;
box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
padding: 63px 80px 49px;
position: relative;
    }
    &__img {
        position: absolute;
        bottom: 0;
        right: 85px;
        img {
            width: 100%;
            display: block;
        }
    }
    &__wrapper {
        margin-top: 29px;
        display: flex;
        justify-content: space-between;
        max-width: 713px;
        letter-spacing: 1.7px;
        .btn {
            gap: 12px;
            width: 357px;
            height: 52px;
            margin-bottom: 16px;
            letter-spacing: .8px;
        }
    }
    &__list {
        list-style-type: none;
        width: 90%;

    }
    &__li {
        display: flex;
        line-height: 200%;
        align-items: center;
        margin-bottom: 4px;
        &::before {
            content: '';
            background: url(../img/check.svg) no-repeat center;
            background-size: contain;
            width: 16px;
height: 11px;
margin-right: 12px;

        }
    }
    &__download {
        width: 47%;
        padding-top: 9px;
    }
}