.prov {
    padding: 125px 0 80px;
    &__wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        row-gap: 20px;
        column-gap: 81px;
        margin-bottom: 110px;
        
        &:nth-child(2) {
            margin-bottom: 0px;
        }
        .title {
            max-width: 264px;
        }
    }
    &__logo {
        max-width: 299px;
        img {
            width: 100%;
        }
    }
    &__item {
        max-width: 245px;
        img {
            width: 100%;
        }
    }
}