.wins {
    padding: 30px 0 80px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        margin-top: 82px;
        gap: 70px;
    }
    &__item {
        max-width: 298px;
        width: 30%;
    }
}