
@import '_vari.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
    color: $text1;
}
.overflow {
    overflow: hidden;
}
.container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}
.soc {
    list-style-type: none;
    display: flex;
    gap: 12px;
    a {
        width: 32px;
        height: 32px;
        img {
            width: 100%;
            display: block;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    color: #fff;
    text-decoration: none;
    width: fit-content;
    padding: 21px 32px;
    border-radius: 6px;
    border: none;
    transition: all .3s;
    font-size: 16px;
    cursor: pointer;
    &:hover {
       background: #399DFF;
    }
    &:active {
        background: #1078DF;
    }
    &_transparent {
        background: transparent;
        border: 1px solid $blue;
        color: $blue;
        &:hover {
           
            background: $blue;
            color: #fff;
        }
        &:active {
            background: #1078DF;
        }
    }
    
}
.title {
    font-size: 36px;
    font-weight: 700;
    span {
        color: $blue;
    }
}
.subtitle {
    font-size: 28px;
    font-weight: 600;

    
}
//margins
.mb_6 {
    margin-bottom: 6px;
}
.mb_8 {
    margin-bottom: 8px;
}
.mb_12 {
    margin-bottom: 12px;
}
.mb_16 {
    margin-bottom: 16px;
}
.mb_21 {
    margin-bottom: 21px;
}
.mb_24 {
    margin-bottom: 24px;
}
.mb_26 {
    margin-bottom: 26px;
}
.mb_32 {
    margin-bottom: 32px;
}
.mb_33 {
    margin-bottom: 33px;
}
.mb_36 {
    margin-bottom: 36px;
}
.mb_40 {
    margin-bottom: 40px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_start {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
//text {
    .fs_14 {
        font-size: 14px;
    }
    .fs_15 {
        font-size: 15px;
    }
    .fs_16 {
        font-size: 16px;
    }
.fs_18 {
    font-size: 18px;
}
.fs_20 {
    font-size: 20px;
}
.mobile {
    display: none;
}
.lh_142 {
    line-height: 142%;
}
.lh_155 {
    line-height: 155%;
}
.lh_171 {
    line-height: 171%;
}
.gray {
    color: $text2;
}
.fw_600 {
    font-weight: 600;
}
//form
.form {
    &__input {
        width: 221px;
        height: 52px;
            font-size: 14px;
            background: #ededed;
            
            border-radius: 6px;
            border: none;
            padding: 27px 16px 8px;
            &:focus {
                background: #fff;
                outline: 1px solid $blue;
            }
        &__wrapper {
            position: relative;
            &_active {
                label {
                    top: 8px;
                    transform: translateY(0);
                    font-size: 12px;
                }
            }
        }
        
    }
    &__select {
        appearance: none;
       padding: 8px 0;
       color: $text2;
       &__wrapper {
        position: relative;
        &::after {
            content: '';
            width: 10px;
            height: 10px;
            display: block;
            background: url(../img/arrow_select.svg) no-repeat center;
            background-size: contain;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
        }
        // &::before {
           
        //     color: $text2;
        //     font-size: 14px;
        //     position: absolute;
        //     top: 19px;
        //     left: 16px;
        //     transition: all .3s;
        // }
        // &_gosst {
        //     &::before {
        //         content: 'ГОСТ, ОСТ, ТУ'
        //     }
        // }
        // &_marka {
        //     &::before {
        //         content: 'Марка стали'
        //     }
        // }
        // &_active {
        //     &::before {
        //         top: 8px;
        //         font-size: 12px;
        //     }
        // }
       }
    }
    &__label {
        position: absolute;
       top: 50%;
       transform: translateY(-50%);
        left: 16px;
        color: $text2;
        font-size: 14px;
        z-index: 1;
        
    }
    
}
.form__input:focus ~ label {
    top: 8px;
    transform: translateY(0);
    transition: all .3s;
    font-size: 12px;
}
//select 
.select {
    display: block;
    max-width: 215px;
    
    position: relative;
}

.new-select {
    position: relative;
     padding: 19px 16px;
    color: $text2;
    cursor: pointer;
    user-select: none;
    border: none;
    width: 100%;
    width: 221px;
    height: 52px;
        font-size: 14px;
        background: #ededed;
        border-radius: 6px;
        border: none;
       
        &:active {
            background: #fff;
            outline: 1px solid $blue;
        }
   
}

.new-select__list {
    position: absolute;
    top: 52px;
    left: 0;

    cursor: pointer;
    width: 100%;
    z-index: 2;
    
    user-select: none;
    overflow-y: scroll;
    border-radius: 6px;
background: #FFF;
box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
height: 116px;
&::-webkit-scrollbar {
    width: 3px;
    height: 100%;
    
  }
&::-webkit-scrollbar-track {
    background: #D9D9D9;
  }
&::-webkit-scrollbar-thumb {
    background-color: #2B2B2B;
    border-radius: 3px;
  }
}

.new-select__list.on {
    display: block;
    background: #fff;
    outline: 1px solid $blue;
}

.new-select__item span {
    display: block;
    padding: 16px 16px 0;
    
}

.new-select__item span:hover {
    color: $blue;
}

.new-select:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/arrow_select.svg) no-repeat center / contain;
   
}

.new-select.on:after {
   top: 24%;
    transform: rotate(180deg) translateY(-50%);
           
   
}



@import '_header.scss';
@import '_promo.scss';
@import '_table';
@import '_price.scss';
@import '_wins.scss';
@import '_serv.scss';
@import '_prov.scss';
@import '_about.scss';
@import '_form.scss';
@import '_map';
@import '_footer';
@import '_modal.scss';
@import '_loader.scss';

@import '_media.scss';

